/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global styles */
  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 2.0;
    color: #00897b;
  }
  
  header {
    background-color:#00897B;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  #topnav {
  display: flex;
  justify-content:
  }
  
  nav li {
    margin-left: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #ffff;
    transition: color 0.2s ease-in-out;
  }
  
  nav a:hover {
    color: #282828;
  }
  
  h1 {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 20px;
  }
  #portfolilogo {
    justify-content: flex-start
  }
